@use "comp";

@mixin section-display {
    width: 100%;
    max-width: 992px;
    margin: auto;
    padding: 3rem;
}

html{
    min-width: 100vw;
}

body{
    padding: 0;
    margin: 0;

}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 4rem;
    border-bottom:solid 1px #ddd;
    padding: 0;
    margin: 0;
}

.logo a img{
    max-width: 7rem;
}

.sec-home{
    display: flex;
    align-items: center;
    @include section-display();

    .home-cta{
        flex: 1;
        .cta-text{
            color:comp.$color-main;
        }
        .home-title{
            width: 20rem;
            font-size: 3rem;
        }
        .home-description{
            width: 300px
        }
        .lead-marget{
            .input-col{
                max-width: 200px;
            }
        }
    }
}

.sec-feature {
    @include section-display();
    display: flex;
    flex-direction: column;
        align-items: center;
    .intro{
        text-align: center;
        h3{
        font-size: 1.8rem;
        }
        p{
            font-size: 0.8rem;
            color: #888;
        }
    }
    .features{
        display: flex;
        gap: 1rem;
        align-items: center;
        .text{
            flex: 1;
            padding: 2rem 0;
            .feature{ 
                display: flex;
                flex-direction: row;
                align-items: center;
            .description{
                max-width: 20rem;
                margin-left: 1.15rem;
                .description-title{
                    font-size: 1.25rem;

                }
                .description-text{
                    font-size: 1rem;

                }
            }
        }
        }
        .img1 {
            .img{
                max-width: 20rem;
            }
        }
    }
}

.sec-benefits{
    border-top: 1px solid #ddd;
    .intro{
    @extend .sec-feature, .intro;
    }
    .benefit-card{
        width: 100%;
        pad: 0 2rem 2rem 2rem;
    }

}

.sec-kpis {
    width: 100%;
    color: white;
    background-color: comp.$color-main;
    padding: 4rem;
    .kpi{
    display: flex ;
    flex-direction: column;
    align-items: center;
    }
    .number-1 {
        font-size: 3.5rem;
        font-weight: 600;
    }
    .desc{
        font-size: 0.9rem;
        color: #ffffffaa;
    }
}

.sec-onboarding{
    .intro{
        @extend .sec-feature, .intro;
            }
            .steps{
                padding: 0 7rem 5rem 7rem;
                display: flex;
                align-items: center;
                justify-content: center;
            
                .steps-separator{
                    flex: 1;
                    border-top: 2px solid #ddd;
                    margin: 0 1rem;
                }
            }
        
}

.sec-footer-cta{
    background-color: comp.$footer-color;
    padding: 5rem ;
    background-image: url("../img/bg.png");
    background-repeat: no-repeat;
    background-position: 100%;
    .footer-cta{
    width: 50%;
        .cta-title{
            font-size: 2rem;
        }
        .cta-description {
        font-size: 1.1rem;
        }
    }
}

@media(max-width: 768px){
    .sec-onboarding{
        .steps{
            flex-direction: column;
            .icon-desc{
                .title{
                    text-align: center;
                }
            }
        }
    }
    .sec-footer-cta{
        background-image: none;
        .footer-cta{
            width: 100%;
            text-align: center;
        }
    }

    .sec-benefits{
        .intro{
            text-align: center;
        }
        .intro h3{
            font-size: 2rem;

        }
    }

    .sec-feature{
        .intro p{
            font-size: 1rem;
        }
        .intro h3{
            font-size: 2rem;
        }
    }
}